/*
 * Components elements
 */

// Buttons
.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        padding: 1rem 2rem;
        border-radius: 4px;
        border: 2px solid var(--color-grey-dark);
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color-grey-dark);
        font-weight: 700;

        cursor: pointer;
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    &--primary {
        background-image: linear-gradient(
            to right bottom,
            var(--color-primary-light),
            var(--color-primary-dark)
        );
        border: none;
        color: var(--color-white);

        &:hover {
            background-image: linear-gradient(
                to left top,
                var(--color-primary-light),
                var(--color-primary-dark)
            );
        }
    }
}

//Popup
.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.2);
    }
  
    &__content {
      @include centerContent;
  
      width: 75%;
      min-height: 25rem;
      padding: 2rem;
      background-color: var(--color-white);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
      border-radius: 4px;
      overflow: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
      transition: all .5s .2s;
    }
  
    &:target {
      opacity: 1;
      visibility: visible;
    }
  
    &:target &__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  
    &__close {
      &:link,
      &:visited {
        position: absolute;
        color: var(--color-grey-dark);
        top: 0;
        right: 1.5rem;
        font-size: 4rem;
        text-decoration: none;
        line-height: 1;
        display: inline-block;
        transition: all 0.2s;
      }
  
      &:hover {
        color: var(--color-primary-dark);
      }
    }

    &__text {
        font-size: 2rem;
        text-align: center;
        font-weight: 400;
    }

    &__options {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;

            @media only screen and (max-width: $bp-small) {
                & > *:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }

        &--item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__color-picker {
        height: 6rem;
        width: 6rem;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .25);
        border-radius: 50%;
        border: 2px solid var(--color-white);
        transition: all .2s;
        cursor: pointer;
    
        &:hover {
            transform: scale(1.1);
        }

        &:active,
        &:focus {
            outline: none;
        }

        &--1 {
            background-image: linear-gradient(
                to right bottom,
                #2998FF,
                #5643FA                
            );

            &:active,
            &:focus {
                background-image: linear-gradient(
                    to left top,
                    #2998FF,
                    #5643FA                
                );
            }
        }

        &--2 {
            background-image: linear-gradient(
                to right bottom,
                #7ED56F,
                #28B485                
            );

            &:active,
            &:focus {
                background-image: linear-gradient(
                    to left top,
                    #7ED56F,
                    #28B485                
                );
            }
        }

        &--3 {
            background-image: linear-gradient(
                to right bottom,
                #FFB900,
                #FF7730                
            );

            &:active,
            &:focus {
                background-image: linear-gradient(
                    to left top,
                    #FFB900,
                    #FF7730                
                );
            }
        }

        &--4 {
            background-image: linear-gradient(
                to right bottom,
                #f05e5e,
                #da4141                
            );

            &:active,
            &:focus {
                background-image: linear-gradient(
                    to left top,
                    #f05e5e,
                    #da4141                
                );
            }
        }

        &--text {
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            margin-top: 2rem;

            @media only screen and (max-width: $bp-small) {
                margin-top: 1rem;
            }
        }
    }
}

.form {
    max-width: 60rem;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        max-width: auto;
        margin: 0 3rem;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    &__group:not(:last-child) {
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column-reverse;
    }

    &__input {
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border: 1px solid var(--color-grey-dark);
        border-radius: 4px;
        width: 100%;
        display: block;
        transition: all .2s;

        &:focus {
            outline: none;
            border: 1px solid var(--color-primary-light);
            box-shadow: 0 0 .5rem var(--color-primary-light);
        }

        &::-webkit-input-placeholder {
            color: var(--color-grey-dark);
        }
    }

    &__input:focus + &__label {
        color: var(--color-primary-light);
    }

    &__label {
        display: block;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        transition: all .2s;
    }

    &__group--buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;

            & > * {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
  
.card {
    width: 40rem;
    padding: 2rem;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
    transition: all .2s;

    @media only screen and (max-width: $bp-medium) {
        width: 100%;
        padding: 1.5rem;
        margin: 2rem 0;
        flex-direction: column;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .2);
    }

    &__content {

        &--title {
            display: block;
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: .1rem;
            margin-bottom: 2rem;

            @media only screen and (max-width: $bp-medium) {
                font-size: 1.6rem;
                margin-bottom: 1.5rem;
            }
        }

        &--information {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &--icon {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
            fill: var(--color-primary-light);

            @media only screen and (max-width: $bp-medium) {
                height: 2rem;
                width: 2rem;
            }
        
        }

        &--text {
            font-size: 1.4rem;
            line-height: 2.5;
            
            @media only screen and (max-width: $bp-medium) {
                line-height: 2;
            }
        }
    }

    &__options {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            margin: 2rem auto 0 auto;
        }

        &--btn {
            width: 3rem;
            height: 3rem;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 1rem;

                @media only screen and (max-width: $bp-medium) {
                    margin-right: 2rem;
                }
            }
        }

        &--icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--color-grey-dark);
            transition: all .2s;


            &-star {
                fill: #FFB900;
            
                &:hover {
                    fill: #D8A005;
                }
            }

            &-trash {
                fill: #da4141;

                &:hover {
                    fill: #bd3232;
                }
            }
        }
    }
}