/**
 * Colors

 #7ED56F - Green Light  -
 #28B485 - Green Dark   -
 #FFB900 - Orange Light -
 #FF7730 - Orange Dark  -
 #2998FF - Blue Light   -
 #5643FA - Blue Dark    -
 #4d4af7 - Purple Light -
 #4130df - Purple Dark  -
 #f05e5e - Red Light    -
 #da4141 - Red Dark     -
 #F04747 - Red Error    -
 #F04747 
 #EBEBEB - Grey Light   -
 #333333 - Grey Dark    -
 #484C52 - Grey Dark 2  -
 #999999 - Grey Dark 3  -

 */

:root {
    --color-primary-light: #2998FF ;
    --color-primary-dark: #5643FA; 

    --color-grey-light: #EBEBEB;
    --color-grey-dark: #333333;

    --color-white: #FFFFFF;
    --color-black: #000000;
}

$bp-medium: 42.1875em; // 675px
$bp-small: 29.6875em; // 475px;